{% load static %}

<!DOCTYPE html>
<html lang=en>

<head>
  <meta charset=utf-8>
  <meta http-equiv=X-UA-Compatible content="IE=edge">
  <meta name=viewport content="width=device-width,initial-scale=1">
  <link rel=icon href="{% static 'user_panel/static/favicon.ico' %}"> <title>دومین دوره مسابقات چالشی هوش مصنوعی دانشگاه اصفهان</title>
  <link rel=stylesheet href="https://fonts.googleapis.com/css?family=Material+Icons">
  <link href="{% static 'user_panel/static/css/app.6c9476c2.css' %}" rel=preload as=style>
  <link href="{% static 'user_panel/static/css/chunk-vendors.fd038cff.css' %}" rel=preload as=style>
  <link href="{% static 'user_panel/static/js/app.c04c7f32.js' %}" rel=preload as=script>
  <link href="{% static 'user_panel/static/js/chunk-vendors.abd1ba63.js' %}" rel=preload as=script>
  <link href="{% static 'user_panel/static/css/chunk-vendors.fd038cff.css' %}" rel=stylesheet>
  <link href="{% static 'user_panel/static/css/app.6c9476c2.css' %}" rel=stylesheet>
</head>

<body><noscript><strong>We're sorry but uiai2018-panel doesn't work properly without JavaScript enabled. Please enable
      it to continue.</strong></noscript>
  <div id=app></div>
  <script src="{% static 'user_panel/static/js/chunk-vendors.abd1ba63.js' %}"> </script> <script src="{% static 'user_panel/static/js/app.c04c7f32.js' %}"> </script> </body> </html>